services:
  bookshop:
    container_name: bookshop
    image: gayan0226/bookshop:test11
    volumes:
      - ./log_details:/logs
      - ./pdfF:/apps
    ports:
      - "8080:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/bookshop
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      mysql-db:
        condition: service_healthy
    networks:
      - bookshop_network

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: on-failure
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bookshop
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bookshop_network

volumes:
  log_details:
  pdfF:

networks:
  bookshop_network:
    driver: bridge
